<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Health App Login</title>
</head>
<body>
  <h1> Login </h1>
  <form action="/login/Login" method="POST">
    <input type="text" placeholder="Username" name="username" required><br><br>
    <input type="text" placeholder="Password" name="password" required><br><br>
    <button type="Login">Login</button>
  </form>
  <h2> Register </h2>
  <form action="/login/RegisterRedirect" method="POST">
    <button type="Register">Register</button>
  </form>
</body>
</html>